@page
@model HAS.MyPractice.Web.Pages.Account.LogoutModel

<form method="post">
    <button type="submit" class="font-button font-semibold text-2xl bg-orange-700 hover:bg-orange-600 py-2 px-16 rounded-large text-orange-300 hover:text-orange-900">Log out</button>
</form>