@page
@model HAS.MyPractice.Web.Pages.Student.DashboardModel
@{

    ViewData["Title"] = "My Practice";
}
<div class="container">
    <div class="row">
        <section class="col-12 col-md-12 mt-1">
            <h2>My Dashboard</h2>
            <p class="lead">Welcome back {{name}}</p>
            <ul>
                <li>See what my next class is</li>
                <li>See latest updates from my yoga instructor(s)</li>
                <li>See latest updates from other yoga instructors</li>
                <li>See various metrics</li>
            </ul>
        </section>
    </div>
</div>
