@page
@model HAS.MyPractice.Web.Pages.Student.DashboardModel
@{

    ViewData["Title"] = "My Practice";
}
    <div>
        <div class="-mt-8">
            <p class="font-title text-orange-900 text-5xl">welcome</p>
        </div>
        <div class="-mt-6 ml-10">
            <p class="font-heading text-4xl italic font-light text-orange-900">back @Model.StudentName</p>
        </div>
    </div>

