@page
@model HAS.MyPractice.Web.Pages.Student.LibraryModel
@{
    ViewData["Title"] = "My Practice";
}
    <div>
        <div class="-mt-8">
            <p class="font-title text-orange-900 text-5xl">library</p>
        </div>
        <div class="-mt-6 ml-10">
            <p class="font-heading text-4xl italic font-light text-orange-900">all classes available</p>
        </div>
    </div>
    <div class="flex flex-col">
        @foreach (var thumb in Model.Data.OrderByDescending(x => x.Date))
        {
            var queryData = new Dictionary<string, string>
        {
                {"d", thumb.Id }
            };
            <a asp-page="/Student/Player" asp-all-route-data="queryData">
                <div class="left-0 right-0 border-solid border-2 border-orange-400 bg-orange-300 rounded-lg mt-3 px-4 py-2 shadow-md">
                    <div class="font-button font-medium text-orange-700 text-xl truncate">@thumb.Title</div>
                    <div class="flex flex-row justify-between">
                        <div class="font-heading italic font-normal text-orange-600">@thumb.Date.ToShortDateString()</div>
                        <div class="font-heading italic font-normal text-orange-600">run time: @((thumb.Duration / 1000) / 60)min</div>
                    </div>
                </div>
            </a>
                }
        </div>
